<!DOCTYPE html>
<html>
<head>
  <title>Demo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if current_user %>
    <%= link_to "Logout", destroy_user_session_path, method: :delete %>
  <% end %>
  <div class="header">
    <% flash.each do |key, value| %>
      <div class="flash flash-<%= key %>">
        <%= value %>
      </div>
    <% end %>
  </div>


<%= yield %>

</body>
</html>
